body {
    margin: 0;
    background-color: rgb(234, 229, 224);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    position: relative;
}

h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
    background-color: rgb(234, 229, 224);
    position: relative;
    z-index: 2;
    padding: 20px;
}

.icons-container {
    color: black;
}

.icon-container a:hover i {
    color: #c6be45;
}

.content-wrapper {
    margin-left: 70%;
    padding: 20px;
    box-sizing: border-box;
    width: 30%;
    background-color: rgba(234, 229, 224, 0.8);  
    text-align: right;
    position: relative;
    z-index: 2;
}

.topbar {
    background-color: white;
    color: #ffffff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topbar-left .shop-icon img {
    height: 65px;
    width: 65px;
}

.topbar-right ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}

.topbar-right ul li {
    margin-right: 30px;
    margin-left: 0;
}

.topbar-right ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: 28px;
    padding: 0 1px;
}

.topbar-right ul li a:hover {
    color: #c6be45;
}

.topbar-right ul li a.start-order {
    font-size: 16px;
    background-color: #c6be45;
    color: #000000;
    padding: 10px 16px;
    border-radius: 10px;
}

.topbar-right ul li a.start-order:hover {
    background-color: white;
    color: black;
    border: 3px solid #c6be45;
    cursor: pointer;
}

p {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.image-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

footer {
    z-index: 10;
    background-color: black;
    width: 100%;
    margin-top: auto;
}

.footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.newsletter {
    background-color: #c6be45;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.newsletter form {
    display: flex;
}

.newsletter form input {
    font-family: 'Heebo', sans-serif;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 250px;
}

.newsletter form button {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.newsletter form button:hover {
    background-color: #c6be45;
    border: 1px solid black;
    cursor: pointer;
}

.newsletter input {
    font-family: 'Heebo', sans-serif;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 60%;
}

.newsletter input:hover {
    border: 1px solid black;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 24px;
}

.socialIcons a:hover {
    color: #c6be45;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li {
    display: flex;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
    color: white;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
}

.footerNav ul li:not(:last-child)::after {
    content: "|";
    margin-right: 20px;
    color: #ffffff;
}

.footerNav ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footerNav ul li a:hover {
    color: #c6be45;
}

.footerCopyright {
    background-color: black;
    font-family: 'Heebo', sans-serif;
    padding: 20px;
    text-align: center;
}

.footerCopyright p {
    color: white;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}