
body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    direction: rtl;
    background-color: rgb(234, 229, 224);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-form {
    flex: 1;
}

.field {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.required {
    color: red;
    margin-right: 2px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0d0d0d;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.submit-button {
    width: 70%;
    background-color: #000;
    font-family: 'Heebo', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom:10%;
}

.submit-button:hover {
    background-color: #c6be45;
    border: 1px solid black;
}

.map-container {
    flex: 1;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

footer{
    z-index: 10;
    background-color: black;
    width: 100%;
    margin-top: auto;



}
.footerContainer
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.newsletter
{
    background-color: #c6be45;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.newsletter h2
{
    font-family: 'Heebo', sans-serif;
    color: rgb(0, 0, 0);
    margin-top: -10px; 
    margin-bottom: 10px;
    margin-left: 20px; 
}
.newsletter form
{
    display: flex;
}

.newsletter form input {
    font-family: 'Heebo', sans-serif;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 250px;
}
.newsletter form button
{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
   
}

.newsletter form button:hover {
    background-color: #c6be45;
    border: 1px solid black;
    cursor: pointer;
}

.newsletter input
{
    font-family: 'Heebo', sans-serif;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 60%; 
    
}
.newsletter input:hover
{
    border: 1px solid black;
    
}


.socialIcons
{
    display:flex;
    justify-content: center;
}
.socialIcons a
{
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 24px;
}
.socialIcons a:hover
{
    color: #c6be45;;
}

.footerNav
{
    margin: 30px 0;
    

}
.footerNav ul
{
    display:flex;
    justify-content: center;
    

}
.footerNav ul li
{
    display:flex;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
    color: white;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    

}

.footerNav ul li:not(:last-child)::after {
    content: "|";
    margin-right: 20px;
    color: #ffffff;
}

.footerNav ul li a
{
    font-size: 16px;
    color: white;
    text-decoration: none;


}

.footerNav ul li a:hover
{
   color: #c6be45;

}
.footerCopyright
{
    background-color: black;
    font-family: 'Heebo', sans-serif;
    padding: 20px;
    text-align: center;
}
.footerCopyright p
{
    color: white;
}

@media (max-width:700px)
{
    .footerNav ul
    {
        flex-direction: column;
    }

    .footerNav ul li
    {
        width: 100%;
        text-align: center;
        margin:10px;
    }
}
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}
