body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 229, 224);
}


.login-container {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.frame-container {
    width: 48%;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.frame {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-top: 7px solid #c6be45;
    background-color: #f4efef;
}

.create-account-frame, .login-frame {
    height: auto;
}

.note {
    text-align: right;
    font-size: 15px;
    margin-bottom: 20px;
}

.fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
}

.field {
    width: calc(50% - 7.5px);
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
}

.required {
    color: red;
    margin-right: 2px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    
}

.checkbox {
    width: 100%;
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.signup-button-container, .login-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#signup-button, #login-button {
    background-color: black;
    font-family: 'Heebo', sans-serif;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

#signup-button:hover, #login-button:hover {
    background-color: #c6be45;
    border: 1px solid black;
}

.forget-password-container {
    text-align: right;
    margin-top: 10px;
}

#forget-password-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}

#forget-password-button:hover {
    color: black;
    text-decoration: underline;
}

