body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(234, 229, 224);
    display: flex;
    flex-direction: column;
}


.main-content {
    display: flex;
    flex-direction: row-reverse; 
    min-height: calc(100vh - 200px); 
}

.left-content {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    direction: rtl; 
    margin-left: 100px;
}

.image-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    transform: translateX(15%) translateY(7.5%);
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content-wrapper {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
}

.left-content h1 {
    font-size: 39px;
    margin-right: 20px;
    margin-bottom: -5px;
    width: 100%;
    white-space: nowrap; 
    text-align: right; 
}

.content-wrapper p {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 0.79; 
    text-align: right; 
    white-space:nowrap;
}


.form-container {
    width: 87%;
    margin-right: 20px;
    padding: 20px;
    box-sizing: border-box;
}

input, select, textarea {
    width: 100%;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

textarea {
    
    height: 100px;
    resize: vertical;
}

button {
    width: 100%;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c6be45;
}

